.products-page {
	margin-top: 120px;

	.sale-timer {
		.day {
			.box {
				width: 20px;
				height: 40px;
				background-color: #db4444;
				border-radius: 3px;
				display: inline-block;
				margin-bottom: 20px;
				p {
					display: inline-block;
					line-height: 40px;
					margin-left: 30px;
					font-family: Poppins;
					font-size: 16px;
					font-weight: 600;
					color: #db4444;
				}
			}
		}
		.count-down {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
		.title {
			margin-right: 66px;
			font-family: Inter;
			font-size: 36px;
			font-weight: 600;
			line-height: 30px;
			letter-spacing: 0.04em;
		}
		.timer {
			display: flex;
			align-items: flex-end;
			gap: 14px;
			span {
				.content {
					font-family: Poppins;
					font-size: 12px;
					font-weight: 500;
					line-height: 18px;
				}
				.time {
					font-family: Inter;
					font-size: 32px;
					font-weight: 700;
					line-height: 30px;
					letter-spacing: 0.04em;
				}
			}
			.two-dots {
				color: #e07575;
				font-size: 30px;
				margin-bottom: 3px;
			}
		}
		.scroll-btn {
			margin-right: 100px;
			display: flex;
			gap: 6px;
			.btn {
				margin-left: 6px;
				background-color: #f5f5f5;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				svg {
					font-size: 20px;
				}
			}
		}
	}
	.product-item {
		margin-top: 20px;
		// display: flex;
		gap: 24px;
		width: 100%;
		// overflow: scroll;
		// scroll-behavior: smooth;
	}
}
